* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 40px;
  text-align: center;
}

.title1 {
  font-size: 24px;
  font-weight: 500;
}

.text-l {
  font-size: 14px;
  font-weight: 500;
  color: #747474;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: relative;
  position: absolute;
  top: 0;
  z-index: 9999;
}

nav img {
  width: 50px;
  position: absolute;
  bottom: -30px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav > ul li:last-child {
  margin-left: 20px;
}

button {
  padding: 7px 20px 8px 20px;
  background: transparent;
  border: 2px solid #0f47c0;
  color: #0f47c0;
  font-weight: 600;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

nav ul li:last-child button {
  color: #fff;
  background-color: #0f47c0;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left h2 {
  font-weight: 700;
  font-size: 20px;
}

.nav-left ul li {
  margin-left: 40px;
  font-size: 14px;
  font-weight: 600;
}

#home {
  width: 100%;
  height: 85%;
  background-color: #f8f9fb;
  display: flex;
  position: relative;
}

#home-left,
#home-right {
  width: 50%;
  height: 100%;
  position: relative;
}

#home-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-left .center {
  width: 80%;
}

.center h1 {
  font-size: 60px;
  text-transform: capitalize;
}

.center p {
  width: 80%;
  margin: 40px 0;
  color: #747474;
}

.center button {
  background-color: black;
  color: #fff;
  border: none;
  font-weight: 400;
  padding: 15px 20px;
}

#home-right img {
  width: 90%;
  position: absolute;
  bottom: -10%;
}

.home-group {
  width: 70%;
  height: 110px;
  background-color: #ffffff;
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 8px;
  box-shadow: 3px 3px 10px 0 #7474741a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-group img {
  height: 30px;
}

#catalog {
  width: 100%;
  margin-top: 150px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px 50px;
  margin-top: 30px;
  padding-bottom: 100px;
  position: relative;
}

.catalog-item {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
  box-shadow: 0px 15px 20px #7474741a;
  opacity: 1;
}

.catalog-item:hover {
  box-shadow: 4px 4px 20px 0px rgb(221, 221, 221);
}

.catalog-img {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  background-color: #e2f4ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-img img {
  width: 30px;
}

.catalog-item .title1 {
  width: 80%;
}

#catalog-btn {
  height: 40px;
  background-color: black;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.extra1,
.extra2,
.extra3 {
  display: none;
}
#register-pic img {
  top: 2654px;
  left: 1095px;
  width: 570px;
  height: 634px;
}
